body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #fff; 
}

.header{
    margin-top: 20px;
}


.header p{
    text-align: center;
    font-family: cursive;
    font-size: 25px;
}

span{
    display: block;
}

.navbar{
    background-color: #143f85;
    margin-top: 20px;
}

nav ul{
    margin: 0;
    padding: 0;
}

nav li{
    display: inline;
    float: left;
    margin-left: 25px;
}

nav a{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
    color: #fff;
}

nav a:hover{
    color: #fff;
}

.scan a:hover{
    color: #fff;
}

.upload{
    margin-top: 60px;
    margin-left: 35%;
    padding: 30px;
    width: 35%;
    border: 4px dashed #143f85;
}

.or{
    font-weight: bold;
    color: #143f85;
    margin-left: 45%;
    margin-top: 20px;
}

.scan,
.img-upload{
    width: 70%;
    border-radius: 5px;
    border: 2px solid #143f85;
    padding: 10px;
    background-color: #143f85;
    color: #fff;
    margin-top: 0px;
}

.qrImage{
    display: none;
}