body{
    margin: 0;
    padding: 0;
    height: 100vh;
}

a{
    text-decoration: none;
    color: #fff; 
}

.header p{
    text-align: center;
    font-family: sans-serif;
    margin-top: 20px;
    font-size: 25px;
    color: black;
}

span{
    display: block;
}

.navbar{
    background-color: black;
}

.navbar p{
    display: inline;
}

nav ul{
    margin: 0;
    padding: 0;
    width: 100%;
}

nav li{
    display: inline;
    float: right;
    margin-right: 25px;
}

.logo{
    display: inline;
    float: left;
    font-family: fantasy;
    margin-left: 25px;
    font-size: 20px;
}

nav a{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
    color: #fff;
}

nav a:hover{
    color: #fff;
}

.scan a:hover{
    color: #fff;
}

.upload{
    margin-top: 10px;
    margin: auto;
    padding: 30px;
    width: 35%;
    border: 4px dashed black;
}

.or{
    font-weight: bold;
    color: black;
    margin-left: 45%;
    margin-top: 20px;
}

.scan,
.img-upload{
    width: 70%;
    border-radius: 5px;
    border: 2px solid #ff4b2b;
    padding: 10px;
    background-color: #ff4b2b;
    color: #fff;
    margin-top: 0px;
}

.qrImage{
    display: none;
}

.footer{
    background-color: black;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

.footer p{
    margin-top: 15px;
    text-align: center;
    font-family: sans-serif;
    color: #fff;
}