.qrcontainer{
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

.qr-scan{
    margin: auto;
    width: 400px;
    height: 400px;
    border: 2px solid black;
}

.qr-scan video{
    margin: auto;
    height: 396px;
    width: 396px;
}

.title{
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    font-family: fantasy;
}

.loader{
    text-align: center;
    font-size: 20px;
    color: green;
    font-weight: bold;
}