.qrcode_container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.qrcode p{
    text-align: center;
    font-size: 25px;
    margin-top: 5px;
    font-family: fantasy;
}

.input_group{
    margin-left: 100px;
}

.input_group p{
    margin-top: 25px;
    font-size: 25px;
    text-align: center;
    width: 80%;
    margin-bottom: 10px;
    font-family: fantasy;
}

input{
    margin-bottom: 8px;
    width: 80%;
}

button{
    width: 50%;
    margin-top: 20px;
    margin-left: 60px;
    border-radius: 15px;
}

button span{
    font-family: fantasy;
    padding-top: 5px;
    padding-bottom: 5px;
}

.qr-result{
    display: none;
}