* {
    box-sizing: border-box;
}

.result-container{
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

.result {
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.real{
    color: green;
    font-family: fantasy;
}

.fake{ 
    color: red;
    font-family: fantasy;
}

dl{
    display: grid;
    grid-template-columns: auto auto;
    width: 30%;
    margin: auto;
}

dt{
    font-weight: bold;
    padding: 2px;
    width: 2px;
}

dd{
    padding: 2px;
}

.warning-msg{
    margin: auto;
    width: 50%;
}

.warning-msg p span{
    display: inline;
    font-weight: bold;
}

.warning-msg p{
    text-align: justify;
}

.home-btn{
    border-radius: 5px;
    border: 2px solid green;
    background-color: green;
    color: #fff;
    width: 10%;
    margin: auto;
    text-align: center;
    padding: 5px;
}