* {
    box-sizing: border-box;
}

.correct-icon,
.wrong-icon{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.result {
    text-align: center;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.real{
    color: green;
}

.fake{ 
    color: red;
}